<% @articles.each do |article| %>
  <h1><%= link_to article.title, article_path(article) %></h1><br>
  <p><%= article.content %></p>
  <br><br> <%= link_to "Edit", edit_article_path(article) %>
   <%= link_to "Delete", article_path(article),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>

<br><br><br><%= link_to "New article", new_article_path %>
